
{% extends "bff/base.html" %}
{% load  static   %}

{% block content %}


<a href="/add/">ADD Word</a> - <a href="/addInfo/">ADD Info</a>

<hr>

<input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search here" title="Search here">

<div id="pageContent">
    0000
</div>




<audio id="myAudio">
  <source src="{% static "sounds/gm.ogg" %}" type="audio/ogg">
  <source src="{% static "sounds/gm.mp3" %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


<hr>

        <ul id="myUL">
<div id="id01" class="container row flex-spaces">
{% for p in dd %}

<li class="sm-6 md-4 lg-4 col">
    <i class="card  animated flipInX" >
<b class="card-body"> 

    <p class="card-title">{{ p.en }} </p>
    <p class="card-title">{{ p.bra }} </p>
<hr/>
    <div class="text-center">
    <div class="text-secondary">
    <br>
        <span hx-get="/play/{{ p.id }}/"
      hx-target="#pageContent"
      hx-swap="innerHTML"
      hx-indicator="#spinner"
      class="grid-item">
 Play
    </span>
    </div>

</div>


</b>
</i>
</li>


{% endfor %}
</div>
</ul>


<hr>


<p><span class="text-secondary">Portuguese, is spoken by approximately 288  million people</span>. <span class="text-warning">203 million in Brazil</span>, 35 million in Angola, 32 million in Mozambique, <span class="text-danger">10 million in Portugal</span>, 2 million in Guinea-Bissau</p>


<p>In perspective <span class="text-danger">Mandarin Chinese</span> 917.8 million, <span class="text-success">Spanish</span> 460.1 million, <span class="text-secondary">English</span> 379.0 million, <span class="text-muted">French</span> 77.2 million.</p>

<p><span class="text-danger">Brazil</span> has 203 million inhabitants.</p>




<hr>

<div class="row">


<div class="sm-6 md-3 lg-3 col border border-secondary">
<p>Hover me</p>
<ul>

{% for p in info %}
<li onmouseover="change('{{ p.id }}')" class="background-danger">{{ p }}

<img  src="{{ p.img }}" alt="Car" style="width:10%">
</li>
{% endfor %}

<li>...</li>
</ul>
</div>



<div class="sm-6 md-6 lg-6 col" >
<h2 id="title">Sport</h2>	
<img id="im" src="https://th.bing.com/th/id/OIP.0CfbgQXLYazJCbF21NzspQAAAA?rs=1&pid=ImgDetMain" alt="Car" style="width:100%">


</div>


<div class="sm-6 md-3 lg-3 col border border-6 border-primary">
<span id="info" class="text-success" >The most popular sport in Brazil is football. The Brazilian men national team is ranked among the best in the world according to the FIFA World Rankings, and has won the World Cup tournament a record five times</span><br>


</div>

</div>
<hr>



</div>

<script>

function myFunction() {
    var input, filter, ul, li, b, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("i");
    for (i = 0; i < li.length; i++) {
        b = li[i].getElementsByTagName("b")[0];
        if (b.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
//

function change(n){

n --
var str ="{% static "img/bf/" %}"+n;

var strInfo =[];

{% for p in info %}

strInfo.push({'im':'{{ p.img }}','title':'{{ p.title }}','text':'{{ p.text }}' })

{% endfor %}

//var setClass = "border-"+Math.floor((Math.random() * 4) + 2);



document.getElementById("im").src=strInfo[n]['im'];
document.getElementById("info").innerHTML=strInfo[n]['text'];
document.getElementById("title").innerHTML=strInfo[n]['title'];


//document.getElementById("info").className = "border "+setClass+" border-primary"
}






</script>

{% endblock %}


